*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header{
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#navBar {
    background-color: #013444;
    color: #ffff;
    height: 58px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
ul{
      
    list-style: none;
    display: flex;
    color: #fff;
    
}
i{
    color: #fff;
}
li{
    margin: 10px;
    padding: 5px;
}

input[type='text']{
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

button{
    border: none;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    
}
form{
    margin-left: auto;
    padding-right: 18px;
    
}
.innerLogo{
    text-align: center;
    margin: 20px 0px 0px;
    color: #013444;
    /* font-size: 16px; */
}

.major{
    background-color:#81d8d0;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* section one */
.innerHeadOne{
    background-color: #fff;
    /* height: 600px; */
    width: 90%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #ccc;
    /* padding-top: 20px; */
}

.innerContent{
    display: flex;
    flex-direction: column; 
}
.innerContent > div{
    width: 80%;
    margin: 30px;
    color: #013444;
    font-size: 13px;
    margin-top: 10px;
}

.innerHeadTwo-content{
    display: flex;
    flex-direction: column;
}
.innerHeadTwo-content > div{
    width: 40%;
    height: 250px;
}

/* comment session */
#respond {
    margin-top: 40px;
    margin-left: 20px;
  }
  
  #respond input[type='text'],
  #respond input[type='email'], 
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
  }
/* for blogread html link */
  #blogPost{
    width: 80%;
    margin: 90px;
    margin-top: 10px;
    display: inline-block;
    
  }
.innerContentStory{
    margin-top: 0px;
}

  /* For readers to view comment */
  .boxCommment{
      width: 80%; 
      border-radius: 5px;
      box-shadow: 0 3px 3px #ccc;
      padding: 30px;
  }
  .form-inline {
    
    align-items: center;
}

/* pagination */

.page-link{
    color:#ffffff !important;
	background-color: #013444!important;
	border-color: #013444 !important;
}

/* admin comments check to delete */
#adminComment{
    margin-top: 50px;
    margin-left: 70px;
}


.footer-distributed{
	background: #013444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #fff;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	/* background-color:  #33383b; */
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	/* background-color:  #33383b; */
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
